@model CategoryServiceModel

@{
    ViewData["Title"] = @Model.Category.Title + "- Posts";
}

<div class="mt-5"></div>

<div class="container-fluid mt-100">
    @if (!Model.Category.Posts.Any())
    {
        <br />
        <br />
        <div class="mt-5">
            <center>
                <h2>No posts are created for this category</h2>
                <div class="row mt-4">
                    <center>
                        <button asp-area="" asp-controller="Forum" asp-action="CreatePostForCategoryAsync" asp-route-CategoryId="@Model.Category.Id" class="btn btn-warning col-5">Create first post for this category</button>
                    </center>
                </div>
            </center>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    }
    else
    {
        <div class="row">
            @foreach (var post in Model.Category.Posts)
            {
                <div class="col-md-12">
                    <div class="card mb-4">
                        <div class="container">
                            <div class="card-header">
                                <div class="media flex-wrap w-100 align-items-center">
                                    <img src="https://i.imgur.com/iNmBizf.jpg" class="d-block ui-w-40 rounded-circle" alt="">
                                    <div class="media-body ml-3 mt-2">
                                        <h6>@post.User.FullName</h6>
                                        <div class="text-muted small">@post.PastTime</div>

                                    </div>
                                    <div class="text-muted small ml-3">
                                        <div>Member since <strong>@post.User.CreatedOn</strong></div>
                                        @{
                                            string text = post.User.PostsCount != 1 ? "posts" : "post";
                                        }
                                        <div><strong>@post.User.PostsCount</strong> @text</div>
                                    </div>
                                    <div class="float-end">
                                        <div class="d-flex flex-row align-items-center">
                                            <span onclick="Vote(@post.Id, true)" role="button"><i class="far fa-thumbs-up mx-2 fa-xs text-black" style="margin-top: -0.16rem;"></i></span>
                                            <p id="post-likes-@(post.Id.ToString())" class="small text-muted mb-0">@post.Likes</p>
                                            
                                            <div style="margin-left:8px"></div>
                                            <span onclick="Vote(@post.Id, true)" role="button"><i class="far fa-thumbs-down mx-2 fa-xs text-black" style="margin-top: -0.16rem;"></i></span>
                                            <p id="post-dislikes-@(post.Id.ToString())" class="small text-muted mb-0">@post.Dislikes</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr style="margin-left:14px; margin-right:14px;">
                            <div class="card-body">
                                <h5 class="mb-4">
                                    @post.Title
                                </h5>
                                <a href="#" id="view-more-btn-@(post.Id.ToString())" onclick="ViewMoreFromPost(@post.Id)" class="pe-auto">View more</a>
                                <div id="post-content-@(post.Id.ToString())" class="d-none">
                                    <p>
                                        @Html.Raw(post.SanitizedContent)
                                    </p>
                                    <a href="#" id="hide-btn-@(post.Id.ToString())" onclick="HidePostContent(@post.Id)" class="pe-auto">Hide</a>
                                </div>
                            </div>
                            <div id="view-comments-@(post.Id.ToString())-btn" class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3">
                                <button style="margin-left:20px;" class="badge badge-warning d-inline-flex align-items-center align-middle mb-3 mt-3" onclick="ViewCommentsForPost(@post.Id)"><i class="fas fa-comment"></i>&nbsp; <span class="align-middle">@post.CommentsCount</span></button>
                                <div class="px-4 pt-3"> <a onclick="ReplayWithCommentOnCategoryPost(@post.Id)" class="btn btn-warning"><i class="ion ion-md-create"></i>Replay</a> </div>
                            </div>
                            <div class="container d-none mb-4" id="create-comment-for-post-@(post.Id.ToString())">
                                <hr>
                                <center><h6 class="mt-4">Add a comment...</h6></center>
                                <form asp-route-CategoryId="@Model.Category.Id" asp-route-PostId="@post.Id" method="post" class="mt-5 fw-bold">
                                    <div class="form-outline mb-4">
                                        @*<label asp-for="Comment.Content" class="form-label"></label>*@
                                        <textarea id="mytextarea" asp-for="Comment.Content" class="form-control" rows="4"></textarea>
                                        <span asp-validation-for="Comment.Content" class="small text-danger"></span>
                                    </div>

                                    <div class="row mt-4">
                                        <a asp-area="" asp-controller="ForumCategories" asp-action="GetCategory" asp-route-Id="@Model.Category.Id" class="btn btn-danger rounded-pill col-2">Discard</a>
                                        <input type="submit" class="btn btn-warning rounded-pill offset-8 col-2" value="Create">
                                    </div>
                                </form>
                            </div>
                            <div id="comments-container-@(post.Id.ToString())" class="container d-none">
                                <hr>
                                <center><h5>Comments</h5></center>
                                <div class="row d-flex justify-content-center">
                                    <div class="col-md-10 col-lg-9">
                                        <div style="background-color: #aliceblue;">
                                            <div class="card-body p-4">

                                                @foreach (var comment in post.Comments)
                                                {
                                                    <div class="card mb-3">
                                                        <div class="card-body">
                                                            <p>@comment.SanitizedContent</p>

                                                            <div class="d-flex justify-content-between">
                                                                <div class="d-flex flex-row align-items-center">
                                                                    <i class='fas fa-user-alt'></i>
                                                                    <p class="small mb-0 ms-2">@comment.User.FullName</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="offset-1 col-10">
                                <button class="badge badge-warning offset-4 col-4 mb-3" onclick="HideCommentsForPost(@post.Id)">Hide Comments</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="row mt-5 mb-5">
            <center>
                <a asp-area="" asp-controller="ForumCategories" asp-action="CreatePostForCategory" asp-route-CategoryId="@Model.Category.Id" class="btn btn-warning col-2 float-end">Create post</a>
            </center>
        </div>
    }
</div>

@section Scripts {
    <script>

        function ViewMoreFromPost(postId) {
            let viewMoreAHrefElement = document.querySelector('#view-more-btn-' + postId);
            let postContentPElement = document.querySelector('#post-content-' + postId);

            viewMoreAHrefElement.classList.add('d-none');
            postContentPElement.classList.remove('d-none');
        }

        function HidePostContent(postId) {
            let viewMoreAHrefElement = document.querySelector('#view-more-btn-' + postId);
            let postContentPElement = document.querySelector('#post-content-' + postId);

            viewMoreAHrefElement.classList.remove('d-none');
            postContentPElement.classList.add('d-none');
        }

        function ViewCommentsForPost(postId) {
            let viewCommentsButtonElement = document.querySelector('#view-comments-' + postId + '-btn');
            let commentsConatinerElement = document.querySelector('#comments-container-' + postId);

            viewCommentsButtonElement.classList.add('d-none');
            commentsConatinerElement.classList.remove('d-none');
        }

        function HideCommentsForPost(postId) {
            let viewCommentsButtonElement = document.querySelector('#view-comments-' + postId + '-btn');
            let commentsConatinerElement = document.querySelector('#comments-container-' + postId);

            viewCommentsButtonElement.classList.remove('d-none');
            commentsConatinerElement.classList.add('d-none');
        }
    </script>

    <script>
        function ReplayWithCommentOnCategoryPost(postId) {
            let createCommentFormContainerElement = document.querySelector('#create-comment-for-post-' + postId);
            let viewCommentsButtonElement = document.querySelector('#view-comments-' + postId + '-btn');

            createCommentFormContainerElement.classList.remove('d-none');
            viewCommentsButtonElement.classList.add('d-none');
        }
    </script>

    <script>
        function Vote(postId, isLikeVote) {
            let jsonData = { 'voteFormModel' : { 
                                'postId' : postId, 
                                'isLikeVote' : isLikeVote 
                }
            };

            $.ajax({
                type: "POST",
                url: "/api/ForumVotesApi/Vote",
                data: JSON.stringify(jsonData),
                dataType: "text",
                success: function (data) {
                    $("#post-likes-" + postId).textContent = data.Likes;
                    $("#post-dislikes-" + postId).textContent = data.Dislikes;
                        }
            });
        }
    </script>

    <script src="/js//js//tinymce/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#mytextarea'
        });
    </script>
}