@model AllMoviesQueryModel

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "All";

    bool isHaveMovies = Model.Movies.Any();
    int totalPages = (int)Math.Ceiling((double)Model.TotalMovies / AllMoviesQueryModel.MoviesPerPage);
}

<div>
    <div class="container mt-1">

        <form method="get">
            <div class="row">
                <div class="offset-1 col-md-5 mt-3">
                    <div class="form-group">
                        <label asp-for="Sorting" class="form-label"></label>
                        <select asp-for="Sorting" class="form-control border-warning">
                            <option selected disabled>Order by...</option>
                            <option value="0">Rating</option>
                            <option value="1">Year (Newest)</option>
                            <option value="2">Year (Oldest)</option>
                            <option value="3">Name (Alphabetically)</option>
                            <option value="4">Duration</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-5 mt-3">
                    <div class="form-group">
                        <label asp-for="SearchName" class="form-label"></label>
                        <input asp-for="SearchName" type="search" class="form-control border-warning" placeholder="Search by name" />
                    </div>
                </div>
            </div>

            <div class="mt-5">
                <span class="badge badge-warning offset-3 col-6 fw-bold">Serach by Top Genres</span>
                <div class="row mt-3">
                    <div class="row">
                        <center>
                            <ul class="nav nav-tabs d-flex flex-column flex-md-row text-center nav-warning border-warning">
                                <li class="nav-item offset-3 col-1" id="all-genres" style="cursor: pointer;">
                                    <center>
                                        <input type="submit" asp-for="SearchGenre" class="nav-link" value="All" />
                                    </center>
                                </li>
                                <li class="nav-item col-1" id="action-genres" style="cursor: pointer;">
                                    <center>
                                        <input type="submit" asp-for="SearchGenre" class="nav-link" value="Action" />
                                    </center>
                                <li class="nav-item col-1" id="drama-genres" style="cursor: pointer;">
                                    <center>
                                        <input type="submit" asp-for="SearchGenre" class="nav-link" value="Drama" />
                                    </center>
                                </li>
                                <li class="nav-item col-1" id="comedy-genres" style="cursor: pointer;">
                                    <center>
                                        <input type="submit" asp-for="SearchGenre" class="nav-link" value="Comedy" />
                                    </center>
                                </li>
                                <li class="nav-item col-1" id="thriller-genres" style="cursor: pointer;">
                                    <center>
                                        <input type="submit" asp-for="SearchGenre" class="nav-link" value="Thriller" />
                                    </center>
                                </li>
                                <li class="nav-item col-1" id="fantasy-genres" style="cursor: pointer;">
                                    <center>
                                        <input type="submit" asp-for="SearchGenre" class="nav-link" value="Fantasy" />
                                    </center>
                                </li>
                            </ul>
                        </center>
                    </div>
                </div>
            </div>
        </form>

        @if (!isHaveMovies)
        {
            <div class="row mb-3 mt-5">
                <div class="text-center offset-3 col-6"><h1>There are no movies by given criteria!</h1></div>
            </div>
            <img class="rounded mx-auto d-block" width:100px height:100px src="https://www.cambridge.org/elt/blog/wp-content/uploads/2019/07/Sad-Face-Emoji-480x480.png.webp" />
        }
        else
        {
            <div class="row mt-5">
                @foreach (var movie in Model.Movies)
                {
                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-4">
                        <div class="component">
                            <div class="card">
                                <div class="card-header" style="width:414px; height:220px">
                                    <img style="width:100%; height:100%" class="card-img" src="@movie.ImageUrl">
                                </div>
                                <div class="row">
                                    <span class="badge badge-warning col-2" style="margin-left:20px">@(movie.StarRating == -1 ? "No rating" : $"{movie.StarRating} {Html.Raw("★")}")</span>

                                    <div class="offset-6 col-3">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-warning" data-toggle="ajax-modal" data-target="#addRating" data-url="@Url.Action("AdRating")">
                                            Rate
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="addRating">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="addRatingLabel">Modal title</h5>
                                                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Hii!
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-warning" data-save="modal">Save changes</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title mt-2">@movie.Name</h4>
                                    @foreach (var genre in movie.Genres)
                                    {
                                        <span class="card-text">@genre</span>
                                    }
                                </div>
                                <span class="badge badge-warning offset-4 col-4">@movie.Duration</span>
                                <div class="card-footer">
                                    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                    {
                                        <form method="get">
                                            <div class="row">
                                                <button asp-area="" asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id" class="btn btn-outline-warning offset-1 col-3">Details</button>
                                                <button asp-area="" asp-controller="Movies" asp-action="Edit" asp-route-id="@movie.Id" class="btn btn-outline-warning offset-1 col-2">Edit</button>
                                                <button asp-area="" asp-controller="Movies" asp-action="DeleteConfirmation" asp-route-id="@movie.Id" class="btn btn-outline-warning offset-1 col-3" id="delete-movie-btn">Delete</button>
                                            </div>
                                        </form>
                                    }
                                    else
                                    {
                                        <form method="get">
                                            <button asp-area="" asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id" class="btn btn-outline-warning">Details</button>
                                        </form>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="row mt-3">
                <div class="col-md-6">
                    <input asp-controller="Movies" asp-action="All" asp-route-currentPage="@((Model.CurrentPage - 1) < 1 ? Model.CurrentPage = 1 : Model.CurrentPage - 1)" type="submit" class="btn btn-warning rounded-pill float-start" value="Previous" />
                </div>
                <div class="col-md-6">
                    <input asp-controller="Movies" asp-action="All" asp-route-currentPage="@((Model.CurrentPage + 1) > totalPages ? Model.CurrentPage = totalPages : Model.CurrentPage + 1)" type="submit" class="btn btn-warning rounded-pill float-end" value="Next" />
                </div>
            </div>

            <br />
        }
    </div>
</div>

@section Scripts {
}