@model MovieDetailsServiceModel

@inject UserManager<ApplicationUser> UserManager;

@{
    ViewData["Title"] = Model.Name;

    IEnumerable<GenreViewModel> genres = Model.Genres;
    int neededColumnsForGenres = genres.Count() + 1;

    bool ifMovieIsAddedToWatchLater = Model.ApplicationUsersId.Any(a => a == ViewData["UserId"].ToString());

    ApplicationUser user = await this.UserManager.GetUserAsync(this.User);
    string userId = user.Id;
}

<div class="container mt-4">
    <center>
        <div class="mb-5">
            <h1 class="text-center fw-bold">@Model.Name</h1>
        </div>
    </center>

    <div class="row">
        <div class="col-8 single-left">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="870" height="490"
                        src="@Model.TrailerPath"
                        title="@(Model.Name + " - " + "Trailer")"
                        frameborder="0"
                        allow="accelerometer;
                autoplay;
                clipboard-write;
                encrypted-media;
                gyroscope;
                picture-in-picture"
                        allowfullscreen></iframe>
            </div>

            <div class="row mt-3 mb-3" style="margin-left:1px">
                <div class="row">
                    <center style="margin-left:4px">
                        <span class="badge badge-warning col-2 float-start">Resolution: @Model.Resolution</span>
                        @*<span class="badge badge-warning col-@neededColumnsForGenres" style="margin-left:15px; margin-right:15px;"><a id="link-href" asp-controller="Genres" asp-action="All" title="Explore all genres" class="text-warning">@string.Join(" | ", genres.Select(g => g.Name))</a></span>*@
                        <span class="badge badge-warning col-@neededColumnsForGenres" style="margin-left:15px; margin-right:15px;">@string.Join(" | ", genres.Select(g => g.Name))</span>
                        <span class="badge badge-warning col-2 float-end">Release date: @Model.DateOfReleased.Year</span>
                    </center>
                </div>
            </div>

            <div class="row mt-1"></div>
            <hr class="offset-1 col-10">
            <div class="row mt-1"></div>

            <div class="alert alert-dismissible text-center offset-1 col-10" role="alert">
                @Model.Description
            </div>

            <hr class="offset-1 col-10">
            <div class="row mb-1"></div>

            <center><strong>Director:</strong> <a href="@Model.Director.InformationLink">@Model.Director.FullName</a></center>

            <hr class="offset-1 col-10">
            <div class="row mb-1"></div>

            <center><strong>Country:</strong> @Model.Countruy</center>

            <hr class="offset-1 col-10">
            <div class="row mb-1"></div>

            <center><strong>Languages:</strong> @(string.Join(", ", Model.Languages))</center>

            <hr class="offset-1 col-10">
            <div class="row mb-1"></div>

            @*Platform area*@
            @*<div class="row">
            <center class="mb-2"><span><strong>Where you can find the movie:</strong></span></center>
            <a href="https://www.w3schools.com/"><div class="col"><img class="rounded-pill" src="https://cdn-icons-png.flaticon.com/512/732/732228.png"></div></a>
            </div>*@

            @*<i class="material-icons">cloud</i>
            <i class="material-icons">favorite</i>
            <i class="material-icons">attachment</i>
            <i class="material-icons">computer</i>
            <i class="material-icons">traffic</i>*@

            @*<div class="row mt-2"></div>
            <div class="offset-1 col-10"><hr></div>
            <div class="row mt-5"></div>*@

            <h3>| Images</h3>
            <div class="owl-carousel owl-theme mt-3">
                @foreach (var image in Model.Images)
                {
                    <img class="item img-fluid" src="@image" alt="">
                }
            </div>

            <div class="mb-5"></div>

            <h3>| Actors</h3>
            @if (Model.Actors.Count() > 5)
            {
                <div class="owl-carousel owl-theme mt-3">
                    @foreach (var actor in Model.Actors)
                    {
                        <div class="card" @*style="width:150px; height:330px"*@>
                            <img class="card-img-top" src="@actor.ImageUrl" alt="Card image">
                            <div class="card-body">
                                <center>
                                    <a href="@actor.InformationLink" class="card-title">@actor.FullName</a>
                                </center>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="row">
                    @foreach (var actor in Model.Actors)
                    {
                        <div class="col-3">
                            <div class="card" @*style="width:150px; height:330px"*@>
                                <img class="card-img-top" src="@actor.ImageUrl" alt="Card image">
                                <div class="card-body">
                                    <center>
                                        <a href="@actor.InformationLink" class="card-title">@actor.FullName</a>
                                    </center>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }

            <div class="row mt-3"></div>
            <hr class="offset-1 col-10">
            <div class="row mb-1"></div>

            <div class="row">
                <button class="offset-2 col-3 btn btn-warning rounded-pill" id="rate-movie-btn">Rate this movie ★</button>
                <button class="offset-2 col-3 btn btn-warning rounded-pill @(ifMovieIsAddedToWatchLater == true ? string.Empty : "d-none")" id="remove-from-watch-later-btn">Remove&nbsp;&nbsp<span class="text-danger">✖</span></button>
                <button class="offset-2 col-3 btn btn-warning rounded-pill @(ifMovieIsAddedToWatchLater == true ? "d-none" : string.Empty)" id="save-to-watch-later-btn">Save to watch later&nbsp&nbsp<i class="fas fa-save"></i></button>
            </div>
        </div>

        <div class="col-md-4 single-right">
            <h4 class="text-center mb-3">Up Next</h4>
            @foreach (var movie in Model.UpNextMovies)
            {
                <center>
                    <div class="card mb-3" style="width: 18rem;">
                        <img src="@movie.ImageUrl" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">@movie.Name</h5>
                            <p class="card-text text-center">@string.Join(", ", movie.Genres)</p>
                            <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id" class="btn btn-warning rounded-pill">View More</a>
                        </div>
                    </div>
                </center>
            }
        </div>
    </div>

    <div class="row mt-5"></div>
    <hr>
    <div class="row mt-3"></div>

    <div>
        <center>
            <h3 class="text-center">Comments</h3>
        </center>
        @if (Model.Comments.Any())
        {
            <div class="row d-flex justify-content-center">
                <div class="col-md-10 col-lg-9">
                    <div style="background-color: #aliceblue;">
                        <div class="card-body p-4">

                            @foreach (var comment in Model.Comments)
                            {
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <p>@comment.Content</p>

                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row align-items-center">
                                                <i class='fas fa-user-alt'></i>
                                                <p class="small mb-0 ms-2">@comment.User.FullName</p>
                                            </div>
                                            <div id="comment@(comment.Id)-likes-counter" class="d-flex flex-row align-items-center">
                                                <span role="button" onclick="IncreaseCommentLikes(@comment.Id)"><i class="far fa-thumbs-up mx-2 fa-xs text-black" style="margin-top: -0.16rem;"></i></span>
                                                <p id="comment@(comment.Id)-likes-counter" class="small text-muted mb-0">@comment.Likes</p>
                                                <div style="margin-left:8px"></div>
                                                <span role="button" onclick="IncreaseCommentDislikes(@comment.Id)"><i class="far fa-thumbs-down mx-2 fa-xs text-black" style="margin-top: -0.16rem;"></i></span>
                                                <p id="comment@(comment.Id)-dislikes-counter" class="small text-muted mb-0">@comment.Dislikes</p>
                                            </div>

                                            <div id="comment@(comment.Id)-likes-counter-after-user-click" class="d-none d-flex flex-row align-items-center">
                                                <span><i class="far fa-thumbs-up mx-2 fa-xs text-black" style="margin-top: -0.16rem;"></i></span>
                                                <p class="small text-muted mb-0">@comment.Likes</p>
                                                <div style="margin-left:8px"></div>
                                                <span><i class="far fa-thumbs-down mx-2 fa-xs text-black" style="margin-top: -0.16rem;"></i></span>
                                                <p class="small text-muted mb-0">@comment.Dislikes</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <center>
                <div class="mt-4"></div>
                <h5>No comments added</h5>
                <h5>Be first and let your opinion</h5>
            </center>
        }
        <form method="post">
            <div class="row">
                <div class="form-group form-margin offset-2 col-7">
                    <input asp-for="NewCommentContent" type="text" class="border-warning rounded-1 form-control" placeholder="Type comment..." />
                    <span asp-validation-for="NewCommentContent" class="small text-danger"></span>
                </div>

                <input type="submit" class="btn btn-warning col-1" style="background-color:aliceblue; margin-top:15px;" value="Add">
            </div>
        </form>


    </div>
    <br />
    <br />
    <center class="mb-3"><a asp-controller="Movies" asp-action="All" class="btn btn-warning rounded-pill">Explore More</a></center>
    <br />
</div>

@section Scripts {
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })
    </script>

    <script>
        let removeFromWatchLaterButtonElement = document.querySelector('#remove-from-watch-later-btn');
        let saveToWatchLaterButtonElement = document.querySelector('#save-to-watch-later-btn');

        $('#save-to-watch-later-btn').on('click', (e) => {
            $.get('/api/applicationusersapi/savetowatchlater/?id=@(Model.Id)', (data) => {
                alert(data);

                removeFromWatchLaterButtonElement.classList.remove('d-none');
                saveToWatchLaterButtonElement.classList.add('d-none');
            });
        });

        $('#remove-from-watch-later-btn').on('click', (e) => {
            $.get('/api/applicationusersapi/removefromwatchlater/?id=@(Model.Id)', (data) => {
                alert(data);

                saveToWatchLaterButtonElement.classList.remove('d-none');
                removeFromWatchLaterButtonElement.classList.add('d-none');
            });
        });

        $('#rate-movie-btn').on('click', (e) => {
            let rate = prompt('Rate this movie from 1 to 10:');

            if (rate < 0 || rate > 10) {
                alert('Invalid rating is given!');
                return;
            };

            $.get('/api/applicationusersapi/ratemovie/?id=@(Model.Id)&rating=' + rate, (data) => {
                alert(data);
            })
        });
    </script>

    <script>
        function IncreaseCommentLikes(commentId) {
            $.get('/api/moviecomments/increaselikes/?commentId=' + commentId, (data) => {
                let initialCommentContainerElement = document.querySelector('#comment' + commentId + '-likes-counter');
                let secondCommentContainerElement = document.querySelector('#comment' + commentId + '-likes-counter-after-user-click');
                let commentLikesCountElement = document.querySelector('#comment' + commentId + '-likes-counter');

                commentLikesCountElement.textContent = data;
                initialCommentContainerElement.classList.add('d-none');

                secondCommentContainerElement.children[1].textContent = data;
                secondCommentContainerElement.classList.remove('d-none');
            })
        };

        function IncreaseCommentDislikes(commentId) {
            $.get('/api/moviecomments/increasedislikes/?commentId=' + commentId, (data) => {
                let initialCommentContainerElement = document.querySelector('#comment' + commentId + '-likes-counter');
                let secondCommentContainerElement = document.querySelector('#comment' + commentId + '-likes-counter-after-user-click');
                let commentDislikesCountElement = document.querySelector('#comment' + commentId + '-dislikes-counter');

                commentDislikesCountElement.textContent = data;
                initialCommentContainerElement.classList.add('d-none');

                secondCommentContainerElement.children[4].textContent = data;
                secondCommentContainerElement.classList.remove('d-none');
            })
        };
    </script>
}