@model MovieDetailsViewModel

@{
    ViewData["Title"] = Model.Name;

    IEnumerable<GenreViewModel> genres = Model.Genres;
    int neededColumnsForGenres = genres.Count() + 1;

    bool ifMovieIsAddedToWatchLater = Model.ApplicationUsersId.Any(a => a == ViewData["UserId"].ToString());
}

<div class="container mt-4">
    <cemter>
        <div class="mb-5">
            <h1 class="text-center fw-bold">@Model.Name</h1>
        </div>
    </cemter>

    <div class="row">
        <div class="col-8 single-left">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="870" height="490"
                        src="@Model.Trailer"
                        title="@(Model.Name + " - " + "Trailer")"
                        frameborder="0"
                        allow="accelerometer;
                autoplay;
                clipboard-write;
                encrypted-media;
                gyroscope;
                picture-in-picture"
                        allowfullscreen></iframe>
            </div>

            <div class="row mt-3 mb-3" style="margin-left:1px">
                <div class="row">
                    <center style="margin-left:4px">
                        <span class="badge badge-warning col-2 float-start">Resolution: @Model.Resolution</span>
                        @*<span class="badge badge-warning col-@neededColumnsForGenres" style="margin-left:15px; margin-right:15px;"><a id="link-href" asp-controller="Genres" asp-action="All" title="Explore all genres" class="text-warning">@string.Join(" | ", genres.Select(g => g.Name))</a></span>*@
                        <span class="badge badge-warning col-@neededColumnsForGenres" style="margin-left:15px; margin-right:15px;">@string.Join(" | ", genres.Select(g => g.Name))</span>
                        <span class="badge badge-warning col-2 float-end">Release date: @Model.DateOfReleased.Year</span>
                    </center>
                </div>
            </div>

            <div class="row mt-1"></div>
            <hr class="offset-1 col-10">
            <div class="row mt-1"></div>

            <div class="alert alert-dismissible text-center offset-1 col-10" role="alert">
                @Model.Description
            </div>

            <hr class="offset-1 col-10">
            <div class="row mb-1"></div>

            <center><strong>Director:</strong> <a href="@Model.Director.InformationLink">@Model.Director.FullName</a></center>

            <hr class="offset-1 col-10">
            <div class="row mb-1"></div>

            <center><strong>Country:</strong> @Model.Countruy</center>

            <hr class="offset-1 col-10">
            <div class="row mb-1"></div>

            <center><strong>Languages:</strong> @(string.Join(", ", Model.Languages))</center>

            <hr class="offset-1 col-10">
            <div class="row mb-1"></div>

            @*Platform area*@
            @*<div class="row">
            <center class="mb-2"><span><strong>Where you can find the movie:</strong></span></center>
            <a href="https://www.w3schools.com/"><div class="col"><img class="rounded-pill" src="https://cdn-icons-png.flaticon.com/512/732/732228.png"></div></a>
            </div>*@

            @*<i class="material-icons">cloud</i>
            <i class="material-icons">favorite</i>
            <i class="material-icons">attachment</i>
            <i class="material-icons">computer</i>
            <i class="material-icons">traffic</i>*@

            @*<div class="row mt-2"></div>
            <div class="offset-1 col-10"><hr></div>
            <div class="row mt-5"></div>*@

            <h3>| Images</h3>
            <dix class="owl-carousel owl-theme mt-3">
                @foreach (var image in Model.Images)
                {
                    <img class="item img-fluid" src="@image" alt="">
                }
            </dix>

            <div class="mb-5"></div>

            <h3>| Actors</h3>
            <dix class="owl-carousel owl-theme mt-3">
                @foreach (var actor in Model.Actors)
                {
                    <div class="card" style="width:150px; height:330px">
                        <img class="card-img-top" src="@actor.ImageUrl" alt="Card image">
                        <div class="card-body">
                            <center>
                                <a href="@actor.InformationLink" class="card-title">@actor.FullName</a>
                            </center>
                        </div>
                    </div>
                }
            </dix>

            <div class="row mt-3"></div>
            <hr class="offset-1 col-10">
            <div class="row mb-1"></div>

            <div class="row">
                <button asp-area="" class="offset-2 col-3 btn btn-warning rounded-pill">Like this movie <span class="text-danger">❤</span></button>
                <button class="offset-2 col-3 btn btn-warning rounded-pill @(ifMovieIsAddedToWatchLater == true ? string.Empty : "d-none")" id="remove-from-watch-later-btn">Remove to watch later&nbsp&nbsp<i class="fas fa-save"></i></button>
                <button class="offset-2 col-3 btn btn-warning rounded-pill @(ifMovieIsAddedToWatchLater == true ? "d-none" : string.Empty)" id="save-to-watch-later-btn">Save to watch later&nbsp&nbsp<i class="fas fa-save"></i></button>
            </div>
        </div>

        <div class="col-md-4 single-right">
            <h4 class="text-center mb-3">Up Next</h4>
            @foreach (var movie in Model.UpNextMovies)
            {
                <center>
                    <div class="card mb-3" style="width: 18rem;">
                        <img src="@movie.ImageUrl" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">@movie.Name</h5>
                            <p class="card-text text-center">@string.Join(", ", movie.Genres)</p>
                            <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id" class="btn btn-warning rounded-pill">View More</a>
                        </div>
                    </div>
                </center>
            }
        </div>
    </div>

    <div class="row mt-5"></div>
    <hr>
    <div class="row mt-3"></div>

    <div>
        <center>
            <h3 class="text-center">Comments</h3>
        </center>
    </div>

    <br />
    <br />
    <br />

    <center class="mb-3"><a asp-controller="Movies" asp-action="All" class="btn btn-warning rounded-pill">Explore More</a></center>
    <br />
</div>

@section Scripts {
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })
    </script>

    <script>
        let removeFromWatchLaterButtonElement = document.querySelector('#remove-from-watch-later-btn');
        let saveToWatchLaterButtonElement = document.querySelector('#save-to-watch-later-btn');

        $('#save-to-watch-later-btn').on('click', ev => {
            $.get('/api/applicationusersapi/savetowatchlater/?id=@(Model.Id)', (data) => {
                alert(data);

                removeFromWatchLaterButtonElement.classList.remove('d-none');
                saveToWatchLaterButtonElement.classList.add('d-none');
            });
        });

        $('#remove-from-watch-later-btn').on('click', ev => {
            $.get('/api/applicationusersapi/removefromwatchlater/?id=@(Model.Id)', (data) => {
                alert(data);

                saveToWatchLaterButtonElement.classList.remove('d-none');
                removeFromWatchLaterButtonElement.classList.add('d-none');
            });
        });
    </script>
}