@model MovieDetailsViewModel

@{
    ViewData["Title"] = Model.Name;

    string[] firstThreeImages = new string[]
    {
        Model.Images.Skip(0).First(),
        Model.Images.Skip(1).First(),
        Model.Images.Skip(2).First()
    };
}

<div class="container mt-4">
    <cemter>
        <div class="mb-5">
            <h1 class="text-center fw-bold">@Model.Name</h1>
        </div>
    </cemter>

    <div class="row">
        <div class="col-8 single-left">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="870" height="490"
                        src="@Model.Trailer"
                        title="@(Model.Name + " - " + "Trailer")"
                        frameborder="0"
                        allow="accelerometer;
                autoplay;
                clipboard-write;
                encrypted-media;
                gyroscope;
                picture-in-picture"
                        allowfullscreen></iframe>
            </div>

            <div class="row mt-3 mb-3" style="margin-left:1px">
                <div class="row">
                    <center>
                        @foreach (var genre in Model.Genres)
                        {
                            <span class="badge badge-primary col-2" style="margin-left:10px">@genre</span>
                        }
                    </center>
                </div>
            </div>

            <div class="row mt-1"></div>
            <hr class="offset-1 col-10">
            <div class="row mt-1"></div>

            <div class="alert alert-dismissible text-center offset-1 col-10" role="alert">
                @Model.Description
            </div>

            <hr class="offset-1 col-10">
            <div class="row mb-1"></div>

            <center><strong>Director:</strong> @Model.Director</center>

            <hr class="offset-1 col-10">
            <div class="row mb-1"></div>

            <div class="row">
                <center class="mb-2" ><span><strong>Where you can find the movie:</strong></span></center>
                <div class="owl-carousel owl-theme mt-3">
                        <a href="https://www.w3schools.com/"><div class="item"><img width:30px height:30px class="rounded-pill" src="https://play-lh.googleusercontent.com/TBRwjS_qfJCSj1m7zZB93FnpJM5fSpMA_wUlFDLxWAb45T9RmwBvQd5cWR5viJJOhkI"></div></a>
                </div>
            </div>

            <div class="row mt-2"></div>
            <div class="offset-1 col-10"><hr></div>
            <div class="row mt-5"></div>

            <h3>| Images</h3>
            <dix class="owl-carousel owl-theme mt-3">
                @foreach (var image in Model.Images)
                {
                    <img class="item img-fluid" style="width:400px height:400px" src="@image" alt="">
                }
            </dix>

            <div class="mb-5"></div>

            <h3>| Top Actors</h3>
            <dix class="owl-carousel owl-theme mt-3">
                @foreach (var actor in Model.Actors)
                {
                    <div class="card" style="width:150px height:150px">
                        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/8/84/Sylvester_Stallone_Cannes_2019.jpg" alt="Card image">
                        <div class="card-body">
                            <center>
                                <h4 class="card-title">@actor.FullName</h4>
                            </center>
                        </div>
                    </div>
                }
            </dix>
        </div>

        <div class="col-md-4 single-right">
            <h4 class="text-center mb-3">Up Next</h4>
            @foreach (var movie in Model.UpNextMovies)
            {
                <center>
                    <div class="card mb-3" style="width: 18rem;">
                        <img src="@movie.ImageUrl" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">@movie.Name</h5>
                            <p class="card-text text-center">@string.Join(", ", movie.Genres)</p>
                            <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id" class="btn btn-primary rounded-pill">View More</a>
                        </div>
                    </div>
                </center>
            }
        </div>
    </div>

    <div class="row mt-5"></div>
    <hr>
    <div class="row mt-3"></div>

    <div>
        <center>
            <h3 class="text-center">Comments</h3>
        </center>
    </div>

    <br />
    <br />
    <br />

    <center class="mb-3"><a asp-controller="Movies" asp-action="All" class="btn btn-primary rounded-pill">Explore More</a></center>
    <br />
</div>

@section Scripts {
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })
    </script>
}