@model EditMovieServiceModel

@{
    ViewData["Title"] = "Edit Movie";

    Model.MovieId = Model.MovieId;
}

<div class="image-fliud">
    <div>
        <div class="float-end">
            <a class="btn btn-danger float-end" style="width:50% height:3px" asp-area="" asp-controller="Home" asp-action="Index">x</a>
        </div>
        <br />
        <h2 class="heading-margin text-center" style="">@ViewBag.Title</h2>

        <div class="row">
            <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
                <form method="post" class="fw-bold">
                    <div id="form-container">
                        <div id="overall-movie-form-information-container">
                            <div class="form-group form-margin">
                                <label asp-for="OverallMovieInformation.Name"></label>
                                <input asp-for="OverallMovieInformation.Name" class="form-control" placeholder="Movie Name">
                                <span asp-validation-for="OverallMovieInformation.Name" class="small text-danger"></span>
                            </div>
                            <div class="form-group form-margin">
                                <label asp-for="OverallMovieInformation.GenresId"></label>
                                <select asp-for="OverallMovieInformation.GenresId" class="form-control multiple" data-search="false" data-silent-initial-value-set="true">
                                    @foreach (var genre in Model.OverallMovieInformation.Genres)
                                    {
                                        <option value="@genre.Id">@genre.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="OverallMovieInformation.GenresId" class="small text-danger"></span>
                            </div>
                            <div class="form-group form-margin">
                                <label asp-for="OverallMovieInformation.DateOfReleased"></label>
                                <input asp-for="OverallMovieInformation.DateOfReleased" class="form-control" placeholder="@DateTime.UtcNow.Year">
                                <span asp-validation-for="OverallMovieInformation.DateOfReleased" class="small text-danger"></span>
                            </div>
                            <div class="form-margin"></div>
                            <div class="form-group">
                                <label asp-for="OverallMovieInformation.Resolution" class="form-label"></label>
                                <select asp-for="OverallMovieInformation.Resolution" class="form-control">
                                    <option value="0">Unknown</option>
                                    <option value="1" selected>HD</option>
                                    <option value="2">SD</option>
                                    <option value="3">4K</option>
                                </select>
                            </div>
                            <div class="form-group form-margin">
                                <label asp-for="OverallMovieInformation.Description"></label>
                                <textarea asp-for="OverallMovieInformation.Description" rows="4" class="form-control"></textarea>
                                <span asp-validation-for="OverallMovieInformation.Description" class="small text-danger"></span>
                            </div>
                            <div class="form-group form-margin">
                                <label asp-for="OverallMovieInformation.TrailerPath"></label>
                                <input asp-for="OverallMovieInformation.TrailerPath" class="form-control" placeholder="Film Trailer path">
                                <span asp-validation-for="OverallMovieInformation.TrailerPath" class="small text-danger"></span>
                            </div>
                            <div class="form-group form-margin">
                                <label asp-for="OverallMovieInformation.Duration"></label>
                                <input asp-for="OverallMovieInformation.Duration" class="form-control" placeholder="35m, 2h 35m, 1d 2h 35m, etc...">
                                <span asp-validation-for="OverallMovieInformation.Duration" class="small text-danger"></span>
                            </div>
                            <div class="form-group form-margin mb-1">
                                <label asp-for="OverallMovieInformation.Language"></label>
                                <input asp-for="OverallMovieInformation.Language" class="form-control" placeholder="English, Spanish, etc...">
                                <span asp-validation-for="OverallMovieInformation.Language" class="small text-danger"></span>
                            </div>
                            <div class="form-group form-margin">
                                <label asp-for="OverallMovieInformation.Country"></label>
                                <input asp-for="OverallMovieInformation.Country" class="form-control" placeholder="USA, Bulgaria, etc...">
                                <span asp-validation-for="OverallMovieInformation.Country" class="small text-danger"></span>
                            </div>
                            <div class="row mt-4">
                                <span class="text-center">Director Information</span>
                                <div class="form-group form-margin mb-1 mt-0 col-5">
                                    <label asp-for="OverallMovieInformation.Director.FullName"></label>
                                    <input asp-for="OverallMovieInformation.Director.FullName" class="form-control" placeholder="">
                                    <span asp-validation-for="OverallMovieInformation.Director.FullName" class="small text-danger"></span>
                                </div>
                                <div class="form-margin form-group mt-0 offset-2 col-5">
                                    <label asp-for="OverallMovieInformation.Director.InformationUrl"></label>
                                    <input asp-for="OverallMovieInformation.Director.InformationUrl" class="form-control" placeholder="">
                                    <span asp-validation-for="OverallMovieInformation.Director.InformationUrl" class="small text-danger"></span>
                                </div>
                            </div>

                            <div class="mt-5"></div>
                            <div class="mb-4"></div>
                            <div class="row">
                                <input id="images-btn" type="submit" value="Edit Images" class="btn btn-warning rounded-pill offset-2 col-2" />
                                <input id="actors-btn" type="submit" value="Edit Actors" class="btn btn-warning rounded-pill offset-1 col-2" />
                                <input id="platforms-btn" type="submit" value="Edit Platforms" class="btn btn-warning rounded-pill offset-1 col-2" />
                            </div>

                            <input class="offset-6 col-3 btn btn-warning rounded-pill text-center mt-5 mb-4 d-grid gap-2 col-3 mx-auto" type="submit" value="Edit" id="edit-btn" />

                        </div>

                        <div id="images-form-model-container" class="d-none mt-3">
                            <h3>| Already existing Images</h3>
                            <dix class="owl-carousel owl-theme mt-3 mb-4">
                                @foreach (var image in Model.Images.ExistingImages)
                                {
                                    <img class="item img-fluid" src="@image" alt="">
                                }
                            </dix>

                            <div class="row form-group form-margin" id="images-form-model">
                                <input asp-for="Images.NewImages" class="btn btn-warning rounded-pill offset-5 col-2 mt-3" type="submit" value="Add new image" id="add-image-btn" />
                            </div>

                            <div class="row mt-3"></div>
                            <hr class="offset-1 col-10">

                            <input class="offset-6 col-3 btn btn-warning rounded-pill text-center mt-5 mb-4 d-grid gap-2 col-3 mx-auto" type="submit" value="Back" id="image-back-btn" />
                        </div>

                        <div id="actors-form-model-container" class="d-none mt-3">
                            <h3>| Already existing Actors</h3>
                            <dix class="owl-carousel owl-theme mt-3">
                                @foreach (var actor in Model.Actors.ExistingActors)
                                {
                                    <div class="card" style="width:150px; height:330px">
                                        <img class="card-img-top" src="@actor.ImageUrl" alt="Card image">
                                        <div class="card-body">
                                            <center>
                                                <a href="@actor.InformationLink" class="card-title">@actor.FullName</a>
                                            </center>
                                        </div>
                                    </div>
                                }
                            </dix>

                            <div class="row form-group form-margin" id="actors-form-model">
                                <input asp-for="Actors.NewActors" class="btn btn-warning rounded-pill offset-5 col-2 mt-4" type="submit" value="Add Actor" id="add-actor-btn" />
                            </div>

                            <div class="row mt-3"></div>
                            <hr class="offset-1 col-10">

                            <input class="offset-6 col-3 btn btn-warning rounded-pill text-center mt-5 mb-4 d-grid gap-2 col-3 mx-auto" type="submit" value="Back" id="actor-back-btn" />
                        </div>

                        <div id="platforms-form-model-container" class="d-none mt-3">
                            <h3>| Already existing Platforms</h3>
                            <div class="row">
                                @foreach (var platfrom in Model.Platforms.ExistingPlatforms)
                                {
                                    <img class="col-2" style="margin-right:10px; width:20px; height:30px;" src="@platfrom.Icon">
                                }
                            </div>

                            <div class="row form-group form-margin" id="platforms-form-model">
                                <input asp-for="Platforms.NewPlatforms" class="btn btn-warning rounded-pill offset-5 col-2 mt-4" type="submit" value="Add Platform" id="add-platform-btn">
                            </div>

                            <div class="row mt-3"></div>
                            <hr class="offset-1 col-10">

                            <input class="offset-6 col-3 btn btn-warning rounded-pill text-center mt-5 mb-4 d-grid gap-2 col-3 mx-auto" type="submit" value="Back" id="platform-back-btn" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // Getting button elements
        let imagesButtonElement = document.querySelector('#images-btn');
        let actorsButtonElement = document.querySelector('#actors-btn');

        // Getting form container elements
        let imagesContainer = document.querySelector('#images-form-model-container');
        let actorsContainer = document.querySelector('#actors-form-model-container');
        let platformsContainer = document.querySelector('#platforms-form-model-container');
        let movieContainer = document.querySelector('#overall-movie-form-information-container');

        imagesButtonElement.addEventListener('click', (e) => {
            e.preventDefault();

            movieContainer.classList.add('d-none');

            imagesContainer.classList.remove('d-none');
        });

        actorsButtonElement.addEventListener('click', (e) => {
            e.preventDefault();

            movieContainer.classList.add('d-none');

            actorsContainer.classList.remove('d-none');
        });

        platformsButtonElement.addEventListener('click', (e) => {
            e.preventDefault();

            movieContainer.classList.add('d-none');

            platformsContainer.classList.remove('d-none');
        });

        // Back buttons
        let imageBackButtonElement = document.querySelector('#image-back-btn');
        let actorBackButtonElement = document.querySelector('#actor-back-btn');
        let platformBackButtonElement = document.querySelector('#platform-back-btn');

        imageBackButtonElement.addEventListener('click', (e) => {
            e.preventDefault();

            imagesContainer.classList.add('d-none');
            movieContainer.classList.remove('d-none');
        });

        actorBackButtonElement.addEventListener('click', (e) => {
            e.preventDefault();

            actorsContainer.classList.add('d-none');
            movieContainer.classList.remove('d-none');
        });

        platformBackButtonElement.addEventListener('click', (e) => {
            e.preventDefault();

            platformsContainer.classList.add('d-none');
            movieContainer.classList.remove('d-none');
        });

        // Edit button
        let editButtonElement = document.querySelector('#edit-btn');

    </script>

    <script>
        // Images
        let addImageButtonElement = document.getElementById('add-image-btn');

        var imagesIndex = 0;
        addImageButtonElement.addEventListener('click', (e) => {
            e.preventDefault();

            $('#images-form-model').append("<p class='font-weight-bold mt-3' style='margin-bottom:3px'>Url: </p> <input name='Images[" + imagesIndex + "].NewImages' class='form-control' placeholder=''>");
            $('#images-form-model').append("<hr>")
            imagesIndex++;
        });

        // Actors
        let addActorButtonElement = document.getElementById('add-actor-btn');

        var actorsIndex = 0;
        addActorButtonElement.addEventListener('click', (e) => {
            e.preventDefault();

            $('#actors-form-model').append("<p class='font-weight-bold mt-3' style='margin-bottom:3px'>Full Name: </p> <input name='Actors[" + actorsIndex + "].NewActors.FullName' class='form-control' placeholder=''>");
            $('#actors-form-model').append("<p class='font-weight-bold mt-2' style='margin-bottom:3px'>Image Url: </p> <input name='Actors[" + actorsIndex + "].NewActors.ImageUrl' class='form-control' placeholder=''>");
            $('#actors-form-model').append("<p class='font-weight-bold mt-2' style='margin-bottom:3px'>Information Link: </p> <input name='Actors[" + actorsIndex + "].NewActors.InformationLink' class='form-control' placeholder=''>");
            $('#actors-form-model').append("<hr>")
            actorsIndex++;
        });

        // Platforms
        let addPlatformButtonElement = document.getElementById('add-platform-btn');

        var platformsIndex = 0;
        addPlatformButtonElement.addEventListener('click', (e) => {
            e.preventDefault();

            $('#platforms-form-model').append("<p class='font-weight-bold mt-3' style='margin-bottom:3px'>Name: </p> <input name='Platforms[" + platformsIndex + "].NewPlatforms.Name' class='form-control' placeholder=''>");
            $('#platforms-form-model').append("<p class='font-weight-bold mt-2' style='margin-bottom:3px'>Site Path: </p> <input name='Platforms[" + platformsIndex + "].NewPlatforms.PathUrl' class='form-control' placeholder=''>");
            $('#platforms-form-model').append("<p class='font-weight-bold mt-2' style='margin-bottom:3px'>Icon Url: </p>  <input name='Platforms[" + platformsIndex + "].NewPlatforms.IconUrl' class='form-control' placeholder=''>");
            $('#platforms-form-model').append("<hr>")
            platformsIndex++;
        });
    </script>

    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })
    </script>
}