@model MovieFormModel

@{
    ViewData["Title"] = $"Edit {Model.Name} movie";
}

<div class="mt-5"></div>
<center>
    <h1>Edit Main Information of @Model.Name Movie</h1>
</center>
<div class="mt-5"></div>

<div class="container">
    <form asp-route-Id="@ViewBag.MovieId" method="post" class="fw-bold">
        <div id="form-container">
            <div id="overall-movie-form-information-container">
                <div class="form-group form-margin">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" placeholder="Movie Name">
                    <span asp-validation-for="Name" class="small text-danger"></span>
                </div>
                <div class="form-group form-margin">
                    <label asp-for="GenresId"></label>
                    <select asp-for="GenresId" class="form-control multiple" data-search="false" data-silent-initial-value-set="true">
                        @foreach (var genre in Model.Genres)
                        {
                            <option value="@genre.Id">@genre.Name</option>
                        }
                    </select>
                    <span asp-validation-for="GenresId" class="small text-danger"></span>
                </div>
                <div class="form-group form-margin">
                    <label asp-for="DateOfReleased"></label>
                    <input asp-for="DateOfReleased" class="form-control" placeholder="@DateTime.UtcNow.Year">
                    <span asp-validation-for="DateOfReleased" class="small text-danger"></span>
                </div>
                <div class="form-margin"></div>
                <div class="form-group">
                    <label asp-for="Resolution" class="form-label"></label>
                    <select asp-for="Resolution" class="form-control">
                        <option value="0">Unknown</option>
                        <option value="1" selected>HD</option>
                        <option value="2">SD</option>
                        <option value="3">4K</option>
                    </select>
                </div>
                <div class="form-group form-margin">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" rows="4" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="small text-danger"></span>
                </div>
                <div class="form-group form-margin">
                    <label asp-for="TrailerPath"></label>
                    <input asp-for="TrailerPath" class="form-control" placeholder="Film Trailer path">
                    <span asp-validation-for="TrailerPath" class="small text-danger"></span>
                </div>
                <div class="form-group form-margin">
                    <label asp-for="Duration"></label>
                    <input asp-for="Duration" class="form-control" placeholder="35m, 2h 35m, 1d 2h 35m, etc...">
                    <span asp-validation-for="Duration" class="small text-danger"></span>
                </div>
                <div class="form-group form-margin mb-1">
                    <label asp-for="Language"></label>
                    <input asp-for="Language" class="form-control" placeholder="English, Spanish, etc...">
                    <span asp-validation-for="Language" class="small text-danger"></span>
                </div>
                <div class="form-group form-margin">
                    <label asp-for="Country"></label>
                    <input asp-for="Country" class="form-control" placeholder="USA, Bulgaria, etc...">
                    <span asp-validation-for="Country" class="small text-danger"></span>
                </div>
                <div class="row mt-4">
                    <span class="text-center">Director Information</span>
                    <div class="form-group form-margin mb-1 mt-0 col-5">
                        <label asp-for="Director.FullName"></label>
                        <input asp-for="Director.FullName" class="form-control" placeholder="">
                        <span asp-validation-for="Director.FullName" class="small text-danger"></span>
                    </div>
                    <div class="form-margin form-group mt-0 offset-2 col-5">
                        <label asp-for="Director.InformationUrl"></label>
                        <input asp-for="Director.InformationUrl" class="form-control" placeholder="">
                        <span asp-validation-for="Director.InformationUrl" class="small text-danger"></span>
                    </div>
                </div>
                <div class="row mt-5 mb-4">
                    <a asp-area="" asp-controller="Movies" asp-action="EditIndex" asp-route-Id="@ViewBag.MovieId" class="col-1 btn btn-warning rounded-pill">Back</a>
                    <input class="offset-9 col-2 btn btn-warning rounded-pill" type="submit" value="Edit" id="edit-btn" />
                </div>
            </div>
        </div>
    </form>
</div>